.editBtn__container {
  padding-top: 0 !important;
}
.editBtn {
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 600;
  text-transform: none;
  line-height: 1.4375rem;
  margin-top: 0.1rem;
  margin-left: 0;
  color: #828fa3;
  
}
