.button-addColumn {
  width: 10rem !important;
}
.button-addColumn__modal {
  width: 16.4375rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  background-color: rgba(99, 95, 199, 0.1);
  border: none;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4375rem;
  color: #635fc7;
  margin: 1rem 0 1rem 0;
  cursor: pointer;
}

.button-addColumn__emptyBoard {
  width: 16.4375rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  background-color: #635fc7;
  border: none;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4375rem;
  color: #fff;
  margin: 1rem 0 1rem 0;
  cursor: pointer;
}
