.delete__button {
  background-color: transparent;
  border: none;
  width: 10rem;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.4375rem;
  color: #ea5555;
  text-align: start;
  cursor: pointer;
}
