.container__modal {
  border-radius: 0.375rem;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;
  padding: 2rem;

  .create-column__modal {
    display: flex;
    flex-direction: column;
  }

  .header__modal {
    color: black;
    margin-bottom: 1rem;
  }

  #boardName__label {
    margin-left: 0;
  }

  #boardColumns__label {
    margin: 0;
  }

  #boardName {
    margin: 1rem 1rem 1rem 0;
    width: 16.4375rem;
    height: 2.5rem;
    padding-left: 1rem;
    border-radius: 0.25rem;
    border: 1px solid rgba(130, 143, 163, 0.25);
  }

  .columns__container {
    margin-left: 0;

    #btn-delete {
      position: relative;
      top: 0.2rem;
      left: 0.5rem;
      background-color: transparent;
      border: none;
    }
  }

  .create-board__field {
    margin-left: 0;
    width: 13.4375rem;
    height: 2.5rem;
    padding-left: 1rem;
    border-radius: 0.25rem;
    border: 1px solid rgba(130, 143, 163, 0.25);
    margin-top: 0.5rem;
  }
}

.btn-create {
  width: 10rem !important;

  .btn__text-create {
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 600;
    text-transform: none;
    line-height: 1.4375rem;
    margin-top: 0.1rem;
    margin-left: 0;
    color: #635fc7;
    
  }
}

.btn-edit {
  width: 10rem !important;
  padding-left: 0.4rem !important;
  padding-top: 0 !important;

  .btn__text-edit {
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 600;
    text-transform: none;
    line-height: 1.4375rem;
    margin-top: 0.1rem;
    margin-left: 0;
    color: #828fa3;
    text-align: start;
  }
}
