$backgroundColorLight: #e4ebfa;
$backgroundColorDark: #222223;
.app__container-light {
  background-color: $backgroundColorLight;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
.app__container-dark {
  background-color: $backgroundColorDark;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
