.button-submit {
    width: 16.4375rem;
    height: 2.5rem;
    border-radius: 1.25rem;
    background-color: #635FC7;
    border: none;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4375rem;
    color: #fff;
    cursor: pointer;
  }
  