.container__modal {
  border-radius: 0.375rem;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;
  padding: 2rem;
  .create-column__modal {
    display: flex;
    flex-direction: column;
  }
  .header__modal {
    color: black;
    margin-bottom: 1rem;
  }
  
  #boardColumns__label {
    margin: 0;
  }
  .columns__container {
    margin-left: 0;
    #btn-delete {
        position: relative;
        top: 0.2rem;
        left: 0.5rem;
        background-color: transparent;
        border: none;
    }
  }
  
}
